body {
    background-color: #242424;
}
.center-text {
    text-align: center;
}
.white {
    color: rgb(255, 255, 255);
}
.txt {
    display: flex;
    width: 100%;
    justify-content: center;
}
#text {
    width: 50%;
}
#bx {
    width: 50px;
    height: 50px;
    accent-color: #07620a;
}
bx:hover {
    accent-color: #034c05;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #07620a;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    cursor: pointer;
}
.btn:hover {
    background-color: #034c05;
}

.discord-button {
    background-color: #7289DA;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
}
.discord {
    text-decoration: none;
    color: white;
}
.discord:visited {
    color: white;
}
.discord:hover {
    text-decoration: underline;
}
.discord:visited {
    color: white;
}
